body {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica,
      Arial, sans-serif;
    margin: auto;
    max-width: 38rem;
    padding: 2rem;
    background-color: #1b1b1b;
  }
  
  .h1{
    color: white;
    padding-bottom: 20px;
  }

  #title{
    color:white;
    text-align: center;
  }
  
  
  .overlay {
    position: fixed; /* Sit on top of the page content */
    width: 100%; /* Full width (cover the whole page) */
    height: 100%; /* Full height (cover the whole page) */
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.75); /* Black background with opacity */
    z-index: 2; /* Specify a stack order in case you're using a different order for other elements */
    color: white;
  }
  button {
    margin:20px;
  }
  
  .mainContainer{
    color: aliceblue;
    background-color: #2e2e2e;
    border-radius: 20px;
  }

#questionsContainer {
    margin-bottom: 10px;
   color: white;
   text-align: center
  }

  #redTeam{
    font-size: 5vw;
    color: red;
    text-align: center;
  }

  #blueTeam{
    font-size: 5vw;
    color: rgb(61, 61, 255);
    text-align: center;
  } 