@font-face {
    font-family: 'CustomFont';
    src: url('../static/familiada.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

body {
    font-size: 3.2vw;
    background-color: black;
    color: yellow;
    font-family: 'CustomFont', sans-serif;
    margin: 0;
    padding: 0;
}

:disabled {
    background-color: grey;
}

.wrongAnswer {
    font-size: 2.5vw;
}

.teamStats{
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: white;
}

#blueTeamPoints{
    border-radius: 6px;
    background-color: blue;
}

#redTeamPoints{
    border-radius: 6px;
    background-color: red;
}