body {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica,
      Arial, sans-serif;
      color: white;
    margin: auto;
    max-width: 38rem;
    padding: 2rem;
    background-color: #1b1b1b;
  }

  #title{
    color:white;
    text-align: center;
  }
  
  #redTeam{
    font-size: 5vw;
    color: red;
    text-align: center;
  }

  #blueTeam{
    font-size: 5vw;
    color: rgb(61, 61, 255);
    text-align: center;
  } 